.faq {
    width: 60%;
    margin: 350px auto 100px;
}

.faq h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 66px;
    color: var(--color-light-black-hero);
}

@media (max-width:640px) {
    .faq {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .faq {
        width: 90%;

    }

    .faq h1 {
        font-size: 1.5rem;
    }
}