.footer {
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 300px;
    background-image: url(../../assets/images/footerBg.svg);
}

.footer .main {
    height: 100%;
    color: white;
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    justify-content: space-between;
    align-items: stretch;
    display: flex;

}

.year {
    width: 90%;
    margin: 0 auto;
}

hr {
    font-weight: 300;
}

.gridItems .footerImg {
    display: flex;
    justify-content: start;
}

.gridItems .footerImg>img {
    width: 170px;
    height: 75.74px;
}

.gridMenu {
    display: grid;
    gap: 30px;
    width: 75%;
    grid-template-columns: repeat(4, 1fr);
}

.griddy .visit {
    font-size: 13px;
    margin-right: 25px;
}

.griddy .visit>button {
    margin: 20px 0 0;
    padding: 5px 10px;
    border: 0.5px solid rgba(0, 254, 168, 1);
}

.gridItems {
    width: 100%;
}



legend {
    color: white;
}

.gridItems ul>li {
    font-size: 14px;
    margin: 15px 0;
}

.socialIconContainer {
    display: flex;
    gap: 10px;
}

.griddy {
    text-align: center;
    widows: 20%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

@media screen and (max-width:1024px) {
    .footer .main {
        gap: 40px;
    }
}

@media screen and (max-width:768px) {
    .footer .main {
        display: block;
    }

    .gridItems {
        width: 150px;
    }
}

@media screen and (max-width:600px) {
    .gridMenu {
        width: 100%;
        padding: 42px 0;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .main {
        display: block;
    }

    .griddy .visit>button {
        transform: translateX(-80px);
        border: 1px solid rgba(0, 254, 168, 1);
    }

    .gridItems {
        width: 100%;
    }
}