@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,400;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Satoshi;
  src: url(../../assets/fonts/Satoshi/Fonts/OTF/Satoshi-Light.otf);
}
/* Certified */
:root {
  /* --font-satoshi: Satoshi; */
  ---font-albert-sans: 'Albert Sans', sans-serif;
  ---font-family-Darker: 'Darker Grotesque', sans-serif;
  --color-light-black-: rgba(24, 24, 23, 1);
  --bg-access: rgba(222, 246, 245, 1);
  --bg-btn-color: rgba(0, 28, 21, 1);
  --header-btn-color: rgba(0, 254, 168, 1);
  --color-dark-brown-hero: rgba(13, 17, 17, 1);
  --color-light-black-hero: rgba(38, 50, 56, 1);
  --header-text-color: rgba(47, 58, 59, 1);
  --footer-bg-color: rgba(0, 10, 9, 1);
  --milk-color: rgba(255, 255, 255, 1);
  --faq-border-color: rgba(167, 167, 167, 1);
  --font-openSans: 'Open Sans', 'sans-serif';
  --color-grey: rgba(112, 112, 112, 1);
  --light-grey: rgba(118, 126, 126, 1);
  --color-veryDark: rgba(13, 17, 17, 1);
  --color-royal-blue: rgba(30, 191, 193, 1);
  --color-yellow: rgba(255, 193, 71, 1);
  --color-light-pink: rgba(255, 148, 122, 1);
  --color-light-purple: rgba(191, 131, 255, 1);
  --color-light-grey: rgba(118, 126, 126, 1);
  --color-light-black: rgba(0, 0, 0, 1);
  --color-medium-black: rgba(18, 18, 18, 1);
  --carosel-bg: rgba(0, 28, 21, 1);
  --color-hue: rgba(110, 110, 110, 1);
  ---color-off-white: rgba(195, 191, 208, 1);
  --font-poppins: 'Poppins', sans-serif;
  --light-green:rgba(224, 247, 246, 1);
  --creamy-green:rgba(229, 255, 246, 1);
}

/* Certified */
body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: #000;
}
meter::-webkit-meter-optimum-value {
  background: #00fea8;
}

/*  */

.theme-monitor {
  background-color: #001c15;
}

.theme-chat {
  background-color: #f3ba2f;
}

.theme-folder {
  background-color: #bf83ff;
}

.theme-folder2 {
  background-color: #00fea8;
}

.button {
  width: 100px;
  height: 27px;
  border-radius: 5px;
  background-color: #001c15;
  box-shadow: 0px 10px 50px 0px #0000000d;
  cursor: pointer;
}

@media (min-width: 1500px) {
  .button {
    width: 188px;
    height: 50px;
  }
}

.radio {
  cursor: pointer;
}

.radio input[type='radio'] {
  display: none;
}

@media (min-width: 1500px) {
  .radio span {
    width: 24px;
    height: 24px;
  }
}

.radio span {
  border-radius: 50%;
  border: 3px solid #00fea8;
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
}

.radio span:after {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  display: block;
  background: #00fea8;
  border-radius: 50%;
  transform: scale(0);
  transition: 300ms ease-in-out 0s;
}

.radio input[type='radio']:checked ~ span:after {
  transform: scale(1);
}

.scrollbar::-webkit-scrollbar{
  width: 0;
}

/* Certified */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.swiper-pagination {
  position: relative !important;
  bottom: 50% !important;
  left: 15px !important;
}

.swiper-button-next {
  position: relative !important;
  top: 15px !important;
  left: 10px !important;
}
.swiper-button-prev {
  position: relative !important;
  top: 7px !important;
  left: -109px !important ;
}
.swiper-button-next > img,
.swiper-button-prev > img {
  width: 30%;
}
.swiper-button-next,
.swiper-button-prev {
  height: 30px !important;
  width: 30px !important;
  border-radius: 100% !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;
}
